<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926670981604-tquq1e69sj39r3jsvbm7r4lqrk5d0ia1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926670981604-tquq1e69sj39r3jsvbm7r4lqrk5d0ia1</string>
	<key>API_KEY</key>
	<string>AIzaSyDwUy7zAfWWqPsyJAtT94ShVxuofVncc8w</string>
	<key>GCM_SENDER_ID</key>
	<string>926670981604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinwook.tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-jw</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-jw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926670981604:ios:e4db825075ca1609af1ff1</string>
</dict>
</plist>